/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";
/* src/index.css */
* {
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
  /* color: #fff; */
}

a {
  text-decoration: none;
  color: white;
}
a:hover{
  color: yellow;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

p {
  line-height: 1.6;
}
