/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";
/* src/index.css */


body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
  /* color: #fff; */
}

a {
  text-decoration: none;
  color: white;
}
a:hover{
  color: yellow;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

p {
  line-height: 1.6;
}
.play-visual-btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;

  /* Yellow circular button */
  background: radial-gradient(circle at center, #fde047, #facc15);

  color: #000;
  font-size: 30px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow:
    0 0 0 6px rgba(250, 204, 21, 0.25),
    0 10px 30px rgba(0, 0, 0, 0.4);

  pointer-events: none; /* very important */
}
